{% for auto in item.maps %}
{{ auto.map_key }}{% for option in auto.map_options %} -{{ option.name }}={{ option.values|join(',') }}{% endfor %} {{ auto.map_location.host }}:{{ auto.map_location.path }}

{% endfor %}
